{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="text-center my-5">
    <h1 class="display-5">A Few Words About Us </h1>
    <hr class="w-25 mx-auto"/>
</div>

<section class="section__container about__container about">
    <div class="about__content">
      <p>
        At Simply Home Decorators, we are passionate about transforming houses
        into dream homes. With our expertise in interior design, we strive to
        create spaces that reflect your unique style and personality, while
        ensuring functionality and comfort.
      </p>
      <h4>
        Our dedicated team works closely with clients to understand vision,
        preferences, and lifestyle. Whether you're seeking a modern,
        minimalist, rustic atmosphere, we bring your ideas to life.
      </h4>
      <p>
        From concept to completion, we meticulously curate every aspect of the
        design process. We carefully select colors, textures, furniture,
        lighting, and decor elements to achieve the desired ambiance and
        create a harmonious living environment.
      </p>
    </div>
    <div class="about__image">
      <img src="{% static 'images/about-4.jpg' %}" alt="about" />
    </div>
  </section>


<section class="main_heading my-5 pt-5 offer_style1">
    <div class="container_fluid">
        <div class="row">
            <div class="col-xxl-12 col-12 py-5 text-center offer1">               
                <h2>Become a Part of THE LARGEST HINDU COMMUNITY..Today !!!!</h2>
                <!-- <button type="button " class="btn btn-outline-light" data-toggle="tooltip" data-placement="right" >Check More </button> -->
                 <br>
                 <br>
                 <button class="btn btn-outline-light" type="button">Check More</button>
            </div>
        </div>
    </div>
</section>
{% endblock %}