{% extends 'base.html' %}
{% load static %}

{% block content %}
e

<section class="section__container about__container about">
    <div class="about__content">
      <p>
        Hindu Faith is a non-profit organization established with the goal of educating and supporting English-speaking Hindus.

      </p>
      <h4>
        Our dedicated team works closely with clients to understand vision,
        preferences, and lifestyle. Whether you're seeking a modern,
        minimalist, rustic atmosphere, we bring your ideas to life.
      </h4>
      <p>
        We educate the public about Hinduism, speak out about issues affecting Hindus worldwide, and build bridges with institutions and individuals whose work aligns with our objectives and global goals of our organization.
      </p>
    </div>
    <div class="about__image">
      <img src="{% static 'images/about-4.jpg' %}" alt="about" />
    </div>
  </section>


<section class="main_heading my-5 pt-5 offer_style1">
    <div class="container_fluid">
        <div class="row">
            <div class="col-xxl-12 col-12 py-5 text-center offer1">               
                <h2>Become a Part of THE LARGEST HINDU COMMUNITY..Today !!!!</h2>
                <!-- <button type="button " class="btn btn-outline-light" data-toggle="tooltip" data-placement="right" >Check More </button> -->
                 <br>
                 <br>
                 <button class="btn btn-outline-light" type="button">Check More</button>
            </div>
        </div>
    </div>
</section>
{% endblock %}