{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="text1 my-5">
<div class="text-center">
    <h1 class="display-5">Our Latest Blogs .. </h1>
    <hr class="w-25 mx-auto"/>
</div>
</div>
<div class="ani">
    <div class=" container">
     <div class="box" id="box-1">
       <img src="{% static 'images/blog-1.jpg' %}" alt="">
       <div class="back" id="back-1">
         <h2>Hinduism</h2>
         
       </div>
     </div>
     <div class="box" id="box-1">
       <img src="{% static 'images/blog-2.jpg' %}" alt="">
       <div class="back" id="back-1">
         <h2>Mystic Hinduism</h2>
        
       </div>
     </div>
     <div class="box" id="box-1">
       <img src="{% static 'images/blog-3.jpg' %}" alt="">
       <div class="back" id="back-1">
         <h2>Modern Hindu</h2>
         
       </div>
     </div>
   
    </div>
   </div>

<section class="well bg1">
  <div class="text1 my-5">
    <div class="text-center">
        <h1 class="display-5">Latest News & Events .. </h1>
        <hr class="w-25 mx-auto"/>
    </div>
  </div>
  <div class="container">
  <div class="row wow fadeInUp">
    <div class="col-xs-12 col-sm-4 div1">
      <div class="date">
        <time datetime="2015-06-29">29/06/2015</time>
      </div>
      <h6>
        <a href="#">lorem lumpsum dolor sitr amet cse sterturer</a>
      </h6>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam saepe, dolores libero obcaecati quos, eveniet sequi ducimus deleniti suscipit quis rerum. Est eligendi nam autem quos quisquam minima neque eius?
      </p>
      <a class="btn mt1 btn btn-outline-info" href="#">Learnmore</a>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="date">
        <time datetime="2015-06-29">31/06/2015</time>
      </div>
      <h6>
        <a href="#">lorem lumpsum dolor sitr amet cse sterturer</a>
      </h6>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam saepe, dolores libero obcaecati quos, eveniet sequi ducimus deleniti suscipit quis rerum. Est eligendi nam autem quos quisquam minima neque eius?
      </p>
      <a class="btn mt1 btn btn-outline-info" href="#">Learnmore</a>
    </div>   
    <div class="col-xs-12 col-sm-4">
      <div class="date">
        <time datetime="2015-06-29">01/07/2015</time>
      </div>
      <h6>
        <a href="#">lorem lumpsum dolor sitr amet cse sterturer</a>
      </h6>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam saepe, dolores libero obcaecati quos, eveniet sequi ducimus deleniti suscipit quis rerum. Est eligendi nam autem quos quisquam minima neque eius?
      </p>
      <a class="btn mt1 btn btn-outline-info" href="#">Learnmore</a>
    </div>
    
  </div>
</div>
</section>

{% endblock %}