{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="text1 my-5">
<div class="text-center">
    <h1 class="display-5">A Few Words About Us </h1>
    <hr class="w-25 mx-auto"/>
</div>
</div>
<div class="ani">
    <div class=" container">
     <div class="box" id="box-1">
       <img src="{% static 'images/blog-1.jpg' %}" alt="">
       <div class="back" id="back-1">
         <h2>Hinduism</h2>
         
       </div>
     </div>
     <div class="box" id="box-1">
       <img src="{% static 'images/blog-2.jpg' %}" alt="">
       <div class="back" id="back-1">
         <h2>Mystic Hinduism</h2>
        
       </div>
     </div>
     <div class="box" id="box-1">
       <img src="{% static 'images/blog-3.jpg' %}" alt="">
       <div class="back" id="back-1">
         <h2>Modern Hindu</h2>
         
       </div>
     </div>
   
    </div>
   </div>

{% endblock %}