{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- <div class="port3">

<div class="card mb-3" style="max-width: 800px;">
    <div class="row g-0">
      <div class="col-md-4 img1">
        <img src="{% static 'images/my-1.jpg' %}" class="img-fluid rounded-start" alt="..." style="width: 100%;">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title title1">Working At Hindu Faith </h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="container">
  <div  class="row">
    <div class="col-lg-6 col-md-6 col-12 col-xxl-6">
      <img src="{% static 'images/my-1.jpg' %}">
    </div>
    <div class="col-lg-6 col-md-6 col-12 col-xxl-6">
      <h1>mehak </h1>
    </div>
  </div>
</div>



{% endblock %}