{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="text-center my-5">
    <h1 class="display-5">Hinduism - A History  </h1>
    <hr class="w-25 mx-auto"/>
</div>

<div class="video">
    <center>
<video width="1100" height="500" controls >       
    <source src="{% static 'videos/v.mp4' %}" type="video/mp4">
</video>
    </center>
</div>
<div class="cont7">
    <nav aria-label="...">
     <ul class="pagination pagination-lg">
       <li class="page-item active" aria-current="page">
         <span class="page-link">1</span>
       </li>
       <li class="page-item"><a class="page-link" href="{% url 'port2' %}">2</a></li>
       <li class="page-item"><a class="page-link" href="{% url 'port3' %}">3</a></li>
     </ul>
   </nav>
   </div>

{% endblock %}



