{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container" style="margin-top: 20px;margin-bottom: 25px;">
  <div class="row">
    <div class="col-md-4 col-10 col-xxl-4 mx-auto cont1">
      <figure>
        <img src="{% static 'images/prott-1.jpg' %}" alt="Gallery" class="img-fluid">
        <h4>News  <h6>Apr 21, 2019 at 12:05 pm</h6></h4>
       <h4>Introduction to Hinduism:<br>Vedic, Epic, and <br>Puranic Deities</h4>
    </figure>
    </div>

    <div class="col-md-4 col-10 col-xxl-4 mx-auto cont1">
      <figure>
        <img src="{% static 'images/portt-2.jpg' %}" alt="Gallery" class="img-fluid">
        <h4>News  <h6>Apr 21, 2020 at 01:05 pm</h6></h4>
        <h4>12 Things You Need to Know About Hinduism</h4>
    </figure>
    </div>

    <div class="col-md-4 col-10 col-xxl-4 mx-auto cont2">
      <div class="cont3">
      <h1> Blog Search </h1>
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
    </div>
    <div class="cont4">
    <h4>Archive</h4>
    <br>
    <h6><i class="fa-solid fa-arrow-right"></i>    May 2019</h6>
    <h6><i class="fa-solid fa-arrow-right"></i>    April 2019</h6>
    <h6><i class="fa-solid fa-arrow-right"></i>    October 2019</h6>
    <h6><i class="fa-solid fa-arrow-right"></i>    December 2019</h6>
    <h6><i class="fa-solid fa-arrow-right"></i>    January 2019</h6>
    <br>
    <br>
    <br>
    <h4>Tags</h4>
    <br>
    <h6>News  Articles, Hinduism, Traditions, Mantras ,Religion</h6>

  </div>
    </div>
  </div>
</div>
<div class="cont7">
 <nav aria-label="...">
  <ul class="pagination pagination-lg">
    <li class="page-item active" aria-current="page">
      <span class="page-link">1</span>
    </li>
    <li class="page-item"><a class="page-link" href="{% url 'port2' %}">2</a></li>
    <li class="page-item"><a class="page-link" href="{% url 'port3' %}">3</a></li>
  </ul>
</nav>
</div>
{% endblock %}